*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #101010;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.4;
    margin: 30px 10px 0 10px;
}

.blue {
    color: #ffffff;
}

.blue a {
    color: #dddddd;
}

.blue a:hover, .blue a.active {
    color: #ffffff;
}

.white {
    background: #ffffff;
    color: #222;
}

.center {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}

.content {
    padding: 10px 30px;
    margin-bottom: 10px;
}

header {
    align-items: center;
    background-image: linear-gradient(#101010, #25c);
    border-radius: 15px 15px 0 0;
    display: flex;
    font-family: monospace;
}

img.avatar {
    border-radius: 50%;
    margin-right: 30px;
    width: 50px;
}

.main-nav {
    padding-left: 30px;
    margin-bottom: 10px;
}

.main-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav a {
    color: #ddd;
    font-family: monospace;
    font-size: 1.2rem;
    margin-right: 20px;
}

.main-nav a:hover, .main-nav a.active {
    border-bottom: 3px solid #fff;
    color: #fff;
    text-decoration: none;
}

main {
}

aside {
    display: flex;
    flex-direction: column;
}

footer {
    background-image: linear-gradient(#25c, #101010);
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: row-reverse;
}

h1 {
    font-size: 2rem;
}

a {
    color: #2255cc;
    text-decoration: none;
}

a:hover, a.active {
    text-decoration: underline;
}

i {
    color: #ff7d12;
}

hr {
    margin: 0 40%;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-nav li {
    padding: 5px;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1.1rem;
    }

    h3, h4 {
        font-size: 1rem;
    }

    .container {
        display: flex;
        flex-direction: column;
    }
}
